html {
	background: rgb(20, 20, 20);
	background-image: url("../images/Wire.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 25%;
	color: white;


}

body {

	font-family: Oswald-Medium;
}

.banniere
{
     background-image: url("../images/zwingz.jpg");
     background-attachment: fixed;
     background-repeat: no-repeat;
	 padding-bottom: 5%;
	 padding-top: 1%;
	 text-align: center;
	 background-position: relative;
	 background-size: cover;
	 text-shadow: 2px 2px black;
	 box-shadow: 11px 33px 31px 0px rgba(0,0,0,0.75);
	 font-size: 150%;
}





.Presentation {

	font-size:  175%;
	display: flex;
	grid-gap: 25%;
	margin-left: 12%;
	margin-top: 5%;
}



ul {

	font-size: 150%;
}

.title {

	color: rgb(0, 200, 100); 
	font-size: 250%;
	margin-left: 5%;
}





li li {

	list-style-image: none;
	list-style-type: circle;
	font-style: italic;
}


.shad {
	filter: drop-shadow(8px 8px 2px black);
}
 
.inline {

	display: flex; 
	grid-gap: 20%;
	margin:0 10% 5% 10%;

}

.navbar {
  overflow: hidden;
  background-color: rgb(50, 50, 50);
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 10;
  box-shadow: 0px 10px 5px -1px rgba(0,0,0,0.57);

}


.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.4s;




}


.navbar a:hover {
  background: rgb(0, 200, 100);
  color: black;
}


.main {
  margin-top: 30px; 
} 


.block {

	display: grid;
	width : 25%;
	text-align: center;
}

.pres {

	margin-left: 7.5%;
}

.containflex {

	display: flex;
	flex-direction: row;
	grid-gap: 20%;
}

img {

	margin-left: 28%;
	grid-gap: 0%;

}


footer {

	background-image: url("../images/rezwiingz.png");
     background-attachment: fixed;
     background-repeat: no-repeat;
	 padding-bottom: 7%;
	 padding-top: 4%;
	 text-align: center;
	 background-position: relative;
	 background-size: cover;
	 text-shadow: 2px 2px black;
	 box-shadow: 11px 33px 31px 0px rgba(0,0,0,0.75);
	 font-size: 150%;

}


footer a {

 display: block;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  border: solid;
  margin: 15px 44% 0 44%;
  border-radius: 25%;
  transition: 0.1s;
  filter: drop-shadow(2px 2px 2px black);
  text-shadow: none


}


header a {


 display: block;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  border: solid;
  margin: 15px 44% 0 44%;
  border-radius: 25%;
  filter: drop-shadow(2px 2px 2px black);
  transition: 0.1s;
  text-shadow: none



}


header a:hover {


	background-color: black;
	border-color: black;
	opacity: 0.50;
	text-shadow: none;
	transition: all 0.1s ease-in-out;


}


footer a:hover {

	background-color: black;
	border-color: black;
	opacity: 0.50;
	text-shadow: none;
	transition: all 0.1s ease-in-out;
}

@font-face {
    font-family: "Oswald-Medium";
    src: url('../font/static/Oswald-Medium.ttf');
}





.container{
  width: 25%;
  max-height: 100%;
  margin-right: 5%;
  filter: drop-shadow(4px 4px 2px black);
}
@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: rgb(50,0, 100);
  padding: 2px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  color: black;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

}
.bar::before{
  content:  attr(data-skill);
  background-color: rgb(0, 250, 150);
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 3.5s 2.5s;
  -webkit-animation: load 3.5s 2s;
  -moz-animation: load 3.5s 2s;
  -o-animation: load 3.5s 2s;
}

.bar.front::before{
  background-color:rgb(0, 150, 50);
}
.bar.back::before{
  background-color: rgb(0, 200, 100);
}

.bar.learning::before{
  width: calc(80% - 10px);
}
.bar.basic::before{
  width: calc(100% - 10px);
}
.bar.intermediate::before{
  width: calc(80% - 10px);
}
.bar.advanced::before{
  width: calc(80% - 10px);
}
.bar.expert::before{
  width: calc(100% - 10px);
}
